.search-bar {
  width: 100%;
  min-height: 100px;
  margin: 50px 0px 15px 0px;
}

.search {
  height: 40px;
  margin-left: 2%;
  width: 410px;

}

.search-bar input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-right: none;
  width: 85%;
  background: #f1f1f1;
}

input:focus {
  outline: none;
}

.search-bar input::placeholder {
  font-size: 14px;
}

.search-bar .search button {
  width: 15%;
  padding: 10px;
  background: #a2e4bcfe;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
}

.search-bar p {
  font-family: "Indie Flower", cursive;

}

.sorting-items {
  font-size: 17px;
  display: flex;
  text-align: center;
  padding-top: 30px;
  margin-left: 2%;
  margin-right: 3%;
}


.sorting-items button {
  font-size: 17px;
  text-decoration: underline;
  background-color: inherit;
  border: none;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .search {
    width: 80%;
    margin: auto;
  }

  .sorting-items button {
    margin-left: 10px;
  }

  .sorting-items {
    width: 90%;
  }
}