.recipe-data {
  width: 100%;
  margin-bottom: -20px;
  padding-left: 2%;
  box-sizing: border-box;
}

.not-available-recipes {
  text-align: center;
  font-size: 24px;
  margin: 100px;
  background-color: #8ed1b1d2;
}

.not-available-recipes h1 {
  border: 1px solid rgba(0, 0, 0, 0.468);
  padding: 30px;
}

.close-filters {
  display: none;
  position:absolute;
  right: 0;
  margin: 20px;
  border: none;
  background-color: inherit;
  font-weight: bold;
  z-index: 2;
}

.open-filters {
  display: none;
  position:absolute;
  left: 10%;
  top: 110px;
  border: none;
  background-color:#8ed1b1d2;
  font-weight: bold;
  padding: 10px;
  width: auto;
}

.data {
  display: flex;
  width: 100%;
}

.up {
  display: none;
}

@media screen and (max-width: 600px) {
  .data {
    flex-direction: column-reverse;
  }
  .sidebar {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;

  }

  .hidden {
    display: none;
  }

  .open-filters {
    display: inline;
  }

  .close-filters {
    display: block;
  }

  .up {
    display: block;
    position:fixed;
    right: 40px;
    bottom: 40px;
  }
  
  .up i {
    font-size: 30px;
    color: #8ed1b1;
  }
}